
@{
    Layout = null;
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Estate Register Form Responsive Widget Template :: w3layouts</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Estate Register Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- css files -->
    <link href="~/web/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>

    <div class="signupform">
        <h1>Emlak Kayıt Formu</h1>
        <div class="container">
            <!-- main content -->
            <div class="agile_info">
                <div class="w3l_form">
                    <div class="left_grid_info">
                        <img src="~/web/images/left.png" alt="" />
                    </div>
                </div>
                <div class="w3_info">
                    <h2>Kayıt Formu</h2>
                    <form action="#" method="post">
                        <div class="input-group">
                            <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" placeholder="Adınız" required="" name="AD">
                        </div>
                        <div class="input-group">
                            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <input type="email" placeholder="Mailiniz" required="" name="MAIL">
                        </div>
                        <div class="input-group">
                            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <input type="text" placeholder="Numaranız" required="" name="TELEFON">
                        </div>
                        <div class="input-group">
                            <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                            <input type="Password" placeholder="Şifreniz" required="" name="SIFRE">
                        </div>
                        <button class="btn btn-danger btn-block" type="submit">Kayıt Ol</button>
                    </form>
                    <p class="account">Zaten hesabınız var mı? <a href="#">Giriş Yap</a></p>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- footer -->
        <div class="footer">
            <p> Ertuğ Uygurlu </p>
        </div>
        <!-- footer -->
    </div>

</body>
</html>